<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mapper의 전체경로 -->
<mapper namespace="com.bluesquare.app.board.dao.BoardMapper">
	
	<!-- 게시글 읽어오기 -->
	<select id="select" parameterType="int" resultType="BoardDto">
		SELECT BNO, TITLE, CONTENT, WRITER, VIEW_CNT, COMMENTS_CNT, REG_DATE
		FROM BOARD
		WHERE BNO = #{bno}
	</select>
	
	<!-- 전체 게시물 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
	</select>
	
	<!-- 글 추가하기 -->
	<insert id="insert" parameterType="BoardDto">
		INSERT INTO BOARD(BNO, TITLE, CONTENT, WRITER)
		VALUES (bno_seq.nextval, #{title}, #{content}, #{writer})		
	</insert>
	
	<!-- 글 수정하기 -->
	<update id="update" parameterType="BoardDto">
		UPDATE BOARD
		SET TITLE = #{title}, CONTENT = #{content}, UP_DATE = SYSDATE
		WHERE BNO = #{bno} AND WRITER = #{writer}
	</update>
	
	<!-- 글 삭제하기(게시글 번호와 작성자가 일치하는 경우에만 삭제 가능) -->
	<delete id="delete" parameterType="map">
		DELETE FROM BOARD
		WHERE BNO=#{bno} AND WRITER=#{writer}
	</delete>
	
	<!-- 관리자의 경우 삭제하도록 -->
	<delete id="deleteForAdmin" parameterType="int">
		DELETE FROM BOARD WHERE BNO=#{bno}
	</delete>
	
	<!-- 게시글 전체 삭제 -->
	<delete id="deleteAll">
		DELETE FROM BOARD
	</delete>
	
	<!-- 게시글 목록(등록일 기준으로 내림차순) -->
	<select id="selectAll" resultType="BoardDto">
		SELECT BNO, TITLE, CONTENT, WRITER, VIEW_CNT, COMMENTS_CNT, REG_DATE
		FROM BOARD
		ORDER BY REG_DATE DESC, BNO DESC
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseViewCnt" parameterType="int">
		UPDATE BOARD
		SET VIEW_CNT = VIEW_CNT + 1
		WHERE BNO = #{bno}
	</update>
	
	<!-- 페이징 처리하기 -->
	<select id="selectPage" parameterType="map" resultType="BoardDto">
		SELECT * 
		FROM(SELECT ROWNUM rNum, A.*
			FROM (SELECT BNO, TITLE, CONTENT, WRITER, VIEW_CNT, COMMENTS_CNT, REG_DATE
					FROM BOARD
					ORDER BY REG_DATE DESC, BNO desc) A)
		WHERE rNum BETWEEN ((NVL(#{page}, 0)-1) * #{pageSize} +1) AND (NVL(#{page}, 0) * #{pageSize})
	</select>
	
	<sql id="searchCondition">
		<choose>
			<when test='option=="T"'>
				AND TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test='option=="W"'>
				AND WRITER LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				AND (TITLE LIKE '%'||#{keyword}||'%'
						OR CONTENT LIKE '%'||#{keyword}||'%')
			</otherwise>
		</choose>
	</sql>
	
	<!-- 게시글 검색하기 -->
	<select id="searchSelectPage" parameterType="SearchCondition" resultType="BoardDto">
		SELECT * 
		FROM(SELECT ROWNUM rNum, A.*
			FROM (SELECT BNO, TITLE, CONTENT, WRITER, VIEW_CNT, COMMENTS_CNT, REG_DATE
					FROM BOARD
					WHERE 1=1
					<include refid="searchCondition"></include>
					ORDER BY REG_DATE DESC, BNO desc) A)
		WHERE rNum BETWEEN ((NVL(#{page}, 0)-1) * #{pageSize} +1) AND (NVL(#{page}, 0) * #{pageSize})
	</select>
	
	<!-- 검색했을때의 게시글 개수 -->
	<select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE 1=1
		<include refid="searchCondition"></include>
	</select>
	
	<update id="updateCommentsCnt" parameterType="map">
		UPDATE BOARD
		SET COMMENTS_CNT = COMMENTS_CNT + #{cnt}
		WHERE BNO = #{bno}
	</update>
	
</mapper>




