@charset "UTF-8";

.wrap
{width: 1200px;
    margin: auto;
    }


.title{
   
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
   
}


.rpc{
    justify-content: center;
    display: flex;
  
}

