@charset "UTF-8";

.wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.mainContents {
    display: grid;
    justify-items: center;
	 position: relative;
}


table {
    padding: 15px;
    border: 1px solid rgb(219, 219, 219);
    width: 1000px;
}
table th {
    padding: 10px;

    font-weight: bold;
    color : rgb(3, 151, 214);

    border-right: 1px solid rgb(178, 178, 178); 
    border-bottom: 1px solid rgb(178, 178, 178); 
}

table th:last-child {
	border-right: none;
}

table td {
    padding: 10px;
    border-bottom: 1px solid rgb(178, 178, 178);
    border-right: 1px dotted rgb(178, 178, 178);
    text-align: center;
}

table td:last-child {
	border-right: none;
}


button, .search-button {
	border: 1px solid #0279ab;
    border-radius: 5px;
       
	font-size: 13px;
	background-color: #0397d6;
	color: white;
	padding: 5px;
}

#writeBtn {
	position: absolute;
	right: 100px;
	bottom : -20px;
}

